<div class="contents row" >
    <%= form_tag("/tweets/#{@tweet.id}", method: :patch)  do %>
        <h3>編集する</h3>
        <input placeholder="Title" type="text" name="title" value="<%= @tweet.title%>">
        <textarea placeholder="Note" type="text" cols="30" rows="10" name="note"><%= @tweet.comment%></textarea>
        <input type="submit" value="SENT">
    <% end %>
</div>