<% @tweets.each do |tweet| %>
    <div class="contents row" >
        <div class="content_post">
            <%= simple_format(tweet.title) %>
            <span class="name"><%= tweet.comment%></div>
        </div>
    </div>
<% end %>
<div class="contents row" >
    <%= paginate(@tweets) %>
</div>